
html, body
{
	width: 100%;
	height: 100%;

	font-family: 'Slabo 27px', serif;
}

.center-y
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.tween
{
	backface-visibility: hidden;
}

.tween-fx
{
	-webkit-transition: 1600ms ease-out;
	transition: 1600ms ease-out;
}

h1, h2
{
	width: 100%;
	position: relative;

	font-size: 1em;
	line-height: 1;
	text-align: center;
}

h1
{
	font-size: 180px;
	color: #fff;

	text-transform: uppercase;
}

.h1-default
{
	opacity: 0;

	-webkit-filter: blur(40px);
	filter: blur(40px);
}

h2
{
	font-size: 60px;
	color: #fff;

	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

.page-wrapper
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.page-content
{
	width: 100%;
	height: 100%;
	position: relative;
}

.page-content header
{
	width: 100%;
	height: 100%;

	position: relative;

	font-size: 80px;
	color: #fff;

	background-image: url(../img/headerTest.jpg);
	background-size: cover;
	background-position: center center;
}

.page-grid
{
	width: 100%;
	height: auto;
	position: relative;

	/*TO REMOVE WHITE SPACE BETWEEN DIVS INSIDE*/
	font-size: 0;

	outline: 1px solid red;
}

.col
{
	width: 25%;
	/*height: 100%;*/
	position: relative;
/*	display: inline-block;*/

	margin: 0;
	padding: 0;

	display: block;
	float: left;
}

.col-clear
{
	/*TO GAIN HEIGHT BACK AFTER THE COLUMNS*/
	clear: both;
}

.col-0
{
	background: #8CABD9;
}

.col-1
{
	background: #F6A7B8;	
}

.col-2
{
	background: #F1EC7A;	
}

.col-3
{
	background: #F08838;	
}

.col-wrapper
{
	width: 96%;
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto;
	position: relative;

	font-size: 0;
}

.feature-block
{
	width: 100%;
	position: relative;
	margin: 2% auto 0 auto;
	margin: 0 auto;
}

.feature-block-main
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.feature-block-bg
{
	width: 100%;
	position: relative;
}

.feature-block-bg img
{
	width: inherit;
	position: relative;

	outline: none;
	border: none;

	box-shadow: 0px 0px 8px rgba(20, 20, 20, 0.2);
}
